.root {
  display: flex;
  min-height: 100vh;
  background: var(--color-bg);
}

.main {
  flex: 1;
  margin-left: 230px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin-top: 60px;
  padding: 1.75rem;
  flex: 1;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}
